/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/static/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.prod

/content/collections/estate_entries/
/content/collections/estate_entries_full/
/content/collections/statistic_entries/
/content/collections/estate_entries_references/


public/build

tests/
/users/
