/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/static/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.prod

users

content/globals/business_hours.yaml
content/globals/business_information.yaml
content/globals/browser_appearance.yaml
content/globals/google.yaml
content/globals/onoffice.yaml
content/globals/redirects.yaml
content/globals/review_configuration.yaml
content/globals/social_media.yaml
content/globals/colors.yaml
content/globals/seo.yaml
content/globals/contact_person.yaml
content/globals/estate_appearance_configuration.yaml
content/globals/estate_filter_configuration.yaml
content/globals/footer_layout.yaml
content/globals/navigation_configuration.yaml
content/globals/suchauftrag_cta.yaml
content/globals/contact_general.yaml
content/globals/estate_map_configuration.yaml
content/globals/onoffice_projects.yaml
content/globals/neubauten.yaml
content/globals/sortoptions.yaml
content/globals/configuration.yaml

content/collections/pages
content/collections/bewertungen
content/collections/estates
content/collections/faq
content/collections/neubauprojekte
content/collections/news
content/collections/pages
content/collections/team
content/collections/vacancies
content/collections/estate_entries
content/collections/estate_landing_pages
content/collections/referenzen
content/collections/stadtteile
content/trees/navigation/main.yaml

# added on July, 18th @Imgrund
public/assets/*
public/favicons/*
public/images/*
public/header_images/*
public/logo_images/*
public/review_images/*
public/social_images/*

public/geo_data


public/build

tests/
