<section class="relative bg-white">
    <div
        class="relative z-10 max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6"
    >
        <div class="relative grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {{collection:news limit="3" as="posts"}}
            {{posts}}
            <a href="{{url}}"class="cursor-pointer" target="_blank">
                <div class="transform hover:scale-105 transition-all duration-500">
                    <!-- <div class="relative">
                        <div class="relative h-80 min-w-[340px] w-full overflow-hidden rounded-lg">
                        <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWgel-fHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls." class="h-full w-full object-cover object-center">
                        </div>
                        <div class="absolute inset-x-0 top-0 flex flex-col h-80 items-start justify-end overflow-hidden rounded-lg p-4">
                            <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-primary opacity-90  bg-gradient-to-b from-white via-white "></div>
                            <p class="relative text-xl font-semibold text-white">{{headline}}</p>
                            <p class="relative text-white text-md">
                                {{button_text}} <span aria-hidden="true">&nbsp;→</span>
                            </p>
                        </div>
                    </div> -->
                    <div class="relative">
                        <div class="relative h-64 lg:h-96 min-w-[340px] w-full overflow-hidden rounded-lg">
                        {{if image}}
                            <div class="spinner" style="display: flex">
                                <svg
                                    class="absolute inset-0 w-5 h-5 m-auto animate-spin"
                                    viewBox="0 0 24 24"
                                >
                                    <circle
                                        class="opacity-25"
                                        cx="12"
                                        cy="12"
                                        r="10"
                                        stroke="currentColor"
                                        stroke-width="4"
                                    ></circle>
                                    <path
                                        class="opacity-75"
                                        fill="currentColor"
                                        d="M4 12a8 8 0 008 8V12A4 4 0 004 8"
                                    ></path>
                                </svg>
                            </div>
                            <!-- Image -->
                            <img
                                class="h-full w-full lazy object-cover object-center"
                                data-src="{{image}}"
                                alt="{{image}}"
                                loading="lazy"
                                onload="this.parentElement.querySelector('.spinner').style.display = 'none';"
                            />
                        {{/if}}
                        </div>
                        <div class="absolute inset-x-0 top-0 flex flex-col h-64 lg:h-96 items-start justify-end overflow-hidden rounded-lg p-4">
                            <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-70"></div>
                            <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-white">
                                <time datetime="2020-03-16" class="mr-8 text-white/90">{{date}}</time>
                                <div class="-ml-4 flex items-center gap-x-4">
                                  <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                                    <circle cx="1" cy="1" r="1" />
                                  </svg>
                                </div>
                            </div>
                            <div class="flex flex-end w-full justify-center items-center">
                                <p class="relative text-xl font-semibold text-white">{{title}}</p>
                                <p class="relative text-white text-base ml-auto">
                                    Weiterlesen <span aria-hidden="true">&nbsp;→</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </a>

            {{/posts}}  {{/collection:news}}
        </div>
    </div>
</section>



