<div>
    <h3 class="font-medium text-md">Datenschutz</h3>
    <div class="flex items-start mt-4">
        <div class="ml-3">
            <label>
                <input class="checked:bg-primary" type="checkbox" name="contact_permission" required>
                Ich bin mit einer Kontaktaufnahme bezüglich meiner Anfrage einverstanden. Die Einverständniserklärung kann ich jederzeit widerrufen.*
              </label>
        </div>
    </div>
    <div class="flex items-start mt-4">
        <div class="ml-3">
            <label>
                <input class="checked:bg-primary" type="checkbox" name="contact_permission" required>
                Ich willige in die Verarbeitung meiner Daten zum Zweck der Bearbeitung meiner Anfrage ein und habe die Datenschutzerklärung gelesen.*
              </label>
        </div>
    </div>
</div>
<div>
    <button type="submit"
        class="inline-flex mt-4 justify-center items-center py-3 px-6 text-base font-medium text-white bg-primary rounded-md border border-transparent shadow-sm hover:bg-primary-800  focus:outline-none">Absenden</button>
</div>
