{{# @name Footer @desc The sites footer rendered on each page. #}}

<!-- /layout/_footer.antlers.html -->
<footer class="p-4 custom-gradient-darker sm:p-6">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-10">
        <div class="grid gap-8 mt-16 grid-cols-2 md:grid-cols-4 xl:grid-cols-4 xl:mt-0">
            <div class="md:grid md:grid-cols-1 md:gap-8 xl:col-span-1">
                <div class="mb-6 md:col-span-3 md:mb-0">
                    <a href="/" class="flex items-center">
                        <img
                            src="/logo_images/logo_white.png"
                            class="h-8 mr-3"
                            alt="{{config:app:name}}"
                        />
                    </a>
                    <ul role="list" class="mt-6 space-y-2">
                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >{{business_information:company_name}}</a
                            >
                        </li>

                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >{{business_information:company_street}}
                                {{business_information:company_house_number}}</a
                            >
                        </li>

                        <li>
                            <a
                                href="#"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >{{business_information:company_zip}}
                                {{business_information:company_city}}</a
                            >
                        </li>
                        <li>
                            <a
                                href="tel:{{business_information:company_phone}}"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >Telefon:
                                {{business_information:company_phone_display}}
                            </a>
                        </li>
                        <li>
                            <a
                                href="mailto:{{business_information:company_email}}"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >{{business_information:company_email}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {{footer_layout:content_sections}}
            <div class="grid md:gap-8">
                <div>
                    <h3 class="text-sm font-semibold leading-6 text-gray-200">
                        {{headline}}
                    </h3>
                    <ul role="list" class="mt-6 space-y-2">
                        {{pages}}
                        <li>
                            <a
                                href="/{{url}}"
                                class="text-sm leading-6 text-white hover:text-gray-900"
                                >{{name}}</a
                            >
                        </li>
                        {{/pages}}
                    </ul>
                </div>
            </div>
            {{/footer_layout:content_sections}}
            <div class="md:mt-0">
                <h3 class="text-sm font-semibold leading-6 text-gray-200">
                    Rechtliches
                </h3>
                <ul role="list" class="mt-6 space-y-4">
                    <li>
                        <a
                            href="/impressum"
                            class="text-sm leading-6 text-white hover:text-gray-900"
                            >Impressum</a
                        >
                    </li>

                    <li>
                        <a
                            href="/datenschutz"
                            class="text-sm leading-6 text-white hover:text-gray-900"
                            >Datenschutz</a
                        >
                    </li>

                    <li
                        class="text-sm leading-6 text-white hover:text-gray-900"
                    >
                        <a
                            href="javascript:void(0)"
                            class="js-lcc-settings-toggle"
                            ><a
                                href="javascript:void(0)"
                                class="js-lcc-settings-toggle"
                                >{{ trans:texts.alert_settings }}</a
                            ></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="grid grid-cols-12 space-y-4 sm:space-y-0 max-w-7xl mx-auto px-4 lg:px-10">
        <div
            class="text-center col-span-full sm:col-span-9 sm:flex sm:items-center sm:justify-between"
        >
            <span
                class="text-sm text-gray-200 sm:text-center dark:text-gray-400"
            >
                &copy; {{ configuration:copyright_since }} {{ unless (now |
                format('Y')) == configuration:copyright_since }} - {{ now |
                format('Y') }} {{ /unless }} {{ configuration:copyright_name ??
                config:app:name }}
            </span>
        </div>
        <div
            class="flex items-center justify-center col-span-full sm:col-span-3"
        >
            {{ if social_media:social_media }}
            <div class="flex items-center space-x-2">
                {{ social_media:social_media }}
                <a
                    class="p-1 px-3 -m-1 text-white hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary"
                    href="{{ prefix }}{{ handle }}"
                    rel="noopener{{ type == 'mastodon' ?= ' me' }}"
                    aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                    target="_blank"
                    >{{ svg :src="type" class="w-3 h-3 overflow-visible fill-current" alt="" aria-hidden="true" }}</a
                >
                {{ /social_media:social_media }}
            </div>
            {{ /if }}
        </div>
    </div>
</footer>

<!-- End: /layout/_footer.antlers.html -->
