<div
    style="
        {{ if header_image }}
        background-image: url('/images/{{ header_image }}');
        {{ /if }}
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        background-blend-mode: darken;
        "
    class="w-full h-[460px] xl:h-[537px] bg-no-repeat bg-cover bg-center bg-blend-darken relative"
>
    <div
        class="absolute top-0 left-0 w-full h-full bg-opacity-90"
    ></div>
    <div
        class="absolute w-full max-w-screen-xl px-4 mx-auto -translate-x-1/2 pt-28 sm:pt-24 top-20 left-1/2 xl:top-1/2 xl:-translate-y-1/2 lg:px-10"
    >
        {{if before_title}}
            <span class="block mb-4 font-bold text-gray-900">{{before_title}}</span>
        {{/if}}
        <h1
            class="max-w-4xl mb-4 text-2xl font-extrabold leading-none text-gray sm:text-3xl lg:text-4xl"
        >
            {{if vermarktungsart == "kauf"}} {{title}} kaufen {{elseif
            vermarktungsart == "miete"}} {{title}} mieten {{else}} Unsere
                Immobilien {{/if}}
        </h1>
        <p class="text-lg font-bold text-gray max-w-xl">{{after_title}}</p>
        <!-- Bewertungstext -->
        <div class="absolute bottom-0 right-0 p-4 text-right hidden lg:block">
            <p class="text-md font-bold text-gray-600">Google {{google:rating}} {{google:stars}}</p>
            <a href="https://search.google.com/local/reviews?placeid={{google:google_places_key}}" target="_blank" class="text-xs text-blue-500 underline">Alle Bewertungen ansehen</a>
        </div>
    </div>
</div>
