<section class="bg-[url('https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/coast-house-view.jpg')] -mt-96 bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
    <div class="relative pt-96 pb-48 px-4 mx-auto max-w-screen-xl text-white xl:px-0 z-1">
        <div class="mb-6 px-12 xl:px-4 pt-24 max-w-screen-md lg:mb-0">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">Every home is a destination</h1>
            <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">The best of Luxury Retreats is now Flowbite Luxe—offering the world's most extraordinary homes with the highest standard of service.</p>
        </div>
    </div>
  </section>
