<section class="py-12 bg-white sm:py-24">
    <div
        class="relative w-screen max-w-4xl px-12 text-gray-500 -translate-x-1/2 md:max-w-screen-2xl sm:text-lg dark:text-gray-400 left-1/2"
    >
        <div
            class="max-w-4xl mx-auto text-gray-500 lg:max-w-screen-2xl sm:text-lg dark:text-gray-400"
        >
            <h2
                class="mb-4 text-3xl font-bold tracking-tight text-left text-gray-900 md:text-4xl"
            >
                {{seoheader}}
            </h2>
            {{seosection}} {{textitem}} {{/seosection}}
        </div>
    </div>
</section>
