<section class="bg-white">
    <div
        class="relative items-center gap-8 px-12 py-8 mx-auto max-w-7xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16"
    >
        <div>
            <h2
                class="mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
                {{ctatext1header}}
            </h2>
            <p class="mb-6 text-base leading-7 text-gray-600">
                {{ctatext1description}}
            </p>
            <div class="flex mt-10">
                <div class="flex items-center justify-center space-x-4 sm:flex">
                    <button
                        type="submit"
                        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    >
                        Kontakt aufnehmen
                    </button>
                    <a
                        href="{{business_information:company_phone}}"
                        title=""
                        class="inline-flex items-center justify-center px-5 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                        role="button"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 mr-2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z"
                            />
                        </svg>
                        Direkt anrufen
                    </a>
                </div>
            </div>
        </div>
        <div class="p-5">
            <img
                class="object-cover w-full h-full rounded-lg"
                src="{{content_image_1.0.url}}"
                alt="{{content_image_1.0.alt}}"
            />
        </div>
    </div>
</section>
