<div class="py-4 md:py-8">
    {{advantages}}
        <div id="{{section_id}}" class="pt-2 lg:pt-4 grid grid-cols-1 gap-8 lg:gap-16 mb-12 lg:mb-24 lg:flex {{ index % 2 == 0 ? 'lg:flex-row-reverse' : 'lg:flex-row' }}">
            {{if only_image}}
            <div class="items-center justify-center flex lg:flex-1 relative">
                <div class="spinner" style="display: flex">
                    <svg
                        class="absolute inset-0 w-5 h-5 m-auto animate-spin"
                        viewBox="0 0 24 24"
                    >
                        <circle
                            class="opacity-25"
                            cx="12"
                            cy="12"
                            r="10"
                            stroke="currentColor"
                            stroke-width="4"
                        ></circle>
                        <path
                            class="opacity-75"
                            fill="currentColor"
                            d="M4 12a8 8 0 008 8V12A4 4 0 004 8"
                        ></path>
                    </svg>
                </div>
                <img
                    class="object-cover w-full -lg lazy"
                    data-src="{{image.0.url}}"
                    alt="{{image.0.alt}}"
                    loading="lazy"
                    onload="this.parentElement.querySelector('.spinner').style.display = 'none';"
                />
            </div>
            {{else}}
            <div class="pt-6 lg:flex-1">
                <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 md:h-96">
                    <img src="{{image.0.url}}" alt="" class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                </div>
                <div class="flow-root bg-primary px-6 pb-8 relative">
                    <div class="absolute top-0 left-0 bg-white px-4 py-2">
                        <h3 class="leading-8">{{header}}</h3>
                    </div>
                    <div class="mt-20">
                        <p class="mt-5 text-base leading-7 text-white">{{description}}</p>
                    </div>
                    <div class="flex items-center justify-center md:justify-start py-8">
                        <a href="{{button_link}}" title="" class="text-white bg-secondary justify-center hover:bg-primary-800 inline-flex items-center focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium  text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" role="button">
                            {{button_text}}
                        </a>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="space-y-4 sm:space-y-6 lg:space-y-8 lg:flex-1">
                <div>
                    <h2
                    class="text-3xl font-extrabold leading-12 text-primary underline decoration-custom sm:text-4xl"
                    >
                        {{header_outside}}
                    </h2>

                </div>
                <div class="leading-8"> 
                    {{description_outside}}
                </div>

            </div>
        </div>
    {{/advantages}}


</div>


