<div class="py-12 bg-white sm:py-16">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div
            class="grid max-w-2xl grid-cols-1 mx-auto gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
            <div>
                <h2 class="text-base font-semibold leading-7 text-primary-600">
                    Unsere Voraussetzungen
                </h2>
                <p
                    class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                    Ankaufsprofil und Kriterien
                </p>
                <p class="mt-6 text-base leading-7 text-gray-600">
                    Um ein transparentes Ankaufsverfahren sicherzustellen,
                    orientieren wir uns bei unseren Ankaufskriterien an den
                    nachfolgenden Kriterien.
                </p>
            </div>
            <dl
                class="grid grid-cols-1 col-span-2 text-base leading-7 text-gray-600 gap-x-8 gap-y-10 sm:grid-cols-2 lg:gap-y-16"
            >
                <div class="relative col-span-1 pl-9 sm:col-span-2">
                    <dt class="font-semibold text-gray-900">
                        <svg
                            class="absolute left-0 w-5 h-5 text-primary-500 top-1"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Objektart
                    </dt>
                    <dd class="mt-2">
                        <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Bestandsobjekte</li>
                            <li>
                                Mehrfamilienhäuser und Wohn-/Geschäftshäuser
                            </li>
                            <li>Wohnwirtschaftliche Sanierungsobjekte</li>
                            <li>
                                Wohnungsbestände & Wohnportfolios bundesweit
                            </li>
                            <li>
                                Baugrundstücke mit Baugenehmigung für
                                Geschosswohnungsbau
                            </li>
                            <li>Bauland für Eigenheime ab 5 Einheiten</li>
                            <li>
                                Einfamilienhäuser, Eigentumswohnungen und
                                aufgeteilte Objekte
                            </li>
                        </ul>
                    </dd>
                </div>
                <div class="relative pl-9">
                    <dt class="font-semibold text-gray-900">
                        <svg
                            class="absolute left-0 w-5 h-5 text-primary-500 top-1"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Lage
                    </dt>
                    <dd class="mt-2">
                        Gute bis sehr gute Lagen in Leipzig, angrenzendes Umland
                        der Metropole Leipzig und dem Bundesland Sachsen.
                    </dd>
                </div>

                <div class="relative pl-9">
                    <dt class="font-semibold text-gray-900">
                        <svg
                            class="absolute left-0 w-5 h-5 text-primary-500 top-1"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Größe
                    </dt>
                    <dd class="mt-2">
                        Mindestens 6 Wohneinheiten, Wohnfläche von mind. 500
                        Quadratmeter oder Investitionsvolumen ab 500.000 Euro
                    </dd>
                </div>

                <div class="relative pl-9">
                    <dt class="font-semibold text-gray-900">
                        <svg
                            class="absolute left-0 w-5 h-5 text-primary-500 top-1"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Objektzustand
                    </dt>
                    <dd class="mt-2">
                        Objekte in gutem Zustand, aber auch sanierungsbedürftige
                        Immobilien oder denkmalgeschützte Gebäude
                    </dd>
                </div>

                <div class="relative pl-9">
                    <dt class="font-semibold text-gray-900">
                        <svg
                            class="absolute left-0 w-5 h-5 text-primary-500 top-1"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Verfügbarkeit
                    </dt>
                    <dd class="mt-2">
                        Kurz- bis mittelfristig verfügbare Objekte, die einen
                        zügigen Ankauf ermöglichen
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
