<div class="">
    <div class="sm:py-8 lg:max-w-7xl">
        <!-- Charlottenburg -->
        <h2 class="text-4xl font-bold tracking-tight text-primary lg:text-5xl mb-8 mx-auto text-center">
            Charlottenburg
        </h2>
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
            {{collection:standorte office:is="charlottenburg"}}
            <div class="group relative flex flex-col overflow-hidden border border-gray-200">
                <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
                    <img src="{{thumbnail_image.0.url}}" alt="platzhalter" class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                </div>
                <div class="flex flex-1 flex-col space-y-2 p-4">
                    <h3 class="text-xl lg:text-2xl font-bold text-primary">
                    <a target="_blank" href="/standorte/{{slug}}">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{title}}
                    </a>
                    </h3>
                    <div class="flex flex-1 flex-col justify-end">
                        <a target="_blank" href="standort/{{slug}}" class="text-base text-secondary" target="_blank">
                            Stadtteil {{ort}} ansehen <span aria-hidden="true"> →</span>
                        </a>
                    </div>
                </div>
            </div>
            {{/collection:standorte}}
        </div>

        <!-- Friedrichshain -->

        <h2 class="pt-8 text-4xl font-bold tracking-tight text-primary lg:text-5xl mb-8 mx-auto text-center">
            Friedrichshain
        </h2>
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
            {{collection:standorte office:is="friedrichshain"}}
            <div class="group relative flex flex-col overflow-hidden border border-gray-200">
                <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
                    <img src="{{thumbnail_image.0.url}}" alt="platzhalter" class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                </div>
                <div class="flex flex-1 flex-col space-y-2 p-4">
                    <h3 class="text-xl lg:text-2xl font-bold text-primary">
                    <a target="_blank" href="/standorte/{{slug}}">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{title}}
                    </a>
                    </h3>
                    <div class="flex flex-1 flex-col justify-end">
                        <a target="_blank" href="standort/{{slug}}" class="text-base text-secondary" target="_blank">
                            Stadtteil {{ort}} ansehen <span aria-hidden="true"> →</span>
                        </a>
                    </div>
                </div>
            </div>
            {{/collection:standorte}}
        </div>

        <!-- Kreuzberg -->
        <h2 class="pt-8 text-4xl font-bold tracking-tight text-primary lg:text-5xl mb-8 mx-auto text-center">
            Kreuzberg
        </h2>
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
            {{collection:standorte office:is="kreuzberg"}}
            <div class="group relative flex flex-col overflow-hidden border border-gray-200">
                <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96">
                    <img src="{{thumbnail_image.0.url}}" alt="platzhalter" class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                </div>
                <div class="flex flex-1 flex-col space-y-2 p-4">
                    <h3 class="text-xl lg:text-2xl font-bold text-primary">
                    <a target="_blank" href="/standorte/{{slug}}">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{title}}
                    </a>
                    </h3>
                    <div class="flex flex-1 flex-col justify-end">
                        <a target="_blank" href="standort/{{slug}}" class="text-base text-secondary" target="_blank">
                            Stadtteil {{ort}} ansehen <span aria-hidden="true"> →</span>
                        </a>
                    </div>
                </div>
            </div>
            {{/collection:standorte}}
        </div>

    </div>
  </div>


