<h2 class="mb-4 text-4xl font-bold tracking-tight text-primary mr-8 lg:mr-0 text-center">
    {{kooperations_header}}
</h2>
<div class="text-gray-500 text-lg lg:text-xl font-bold text-center">
  {{kooperations_text}}
</div>

<div role="list" class="mx-auto mt-20 grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 w-full">
  {{kooperationen}}
    <div>
      <div class="justify-start h-36 flex object-cover">
        <img class="h-full object-fill" src="{{image.0.url}}" alt="{{image.0.alt}}">
      </div>
      <p class="text-base leading-7 text-gray-600">{{text}}</p>
    </div>
    {{/kooperationen}}
</div>