[x-cloak] {
    display: none !important;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* this is for the filter bar on full screen */
.fullscreen-on-open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    scrollbar-width: none; /* Firefox */
}

.fullscreen-on-open::-webkit-scrollbar {
    display: none; /* Chrome, Safari and other Webkit browsers */
}

.custom-gradient {
    /* Definiert zwei lineare Gradienten */
    background-image: 
        linear-gradient(to bottom right, #003064, transparent 50%),
        linear-gradient(to top left, #EB690B , transparent 50%);
    
    /* Stellt sicher, dass beide Gradienten das gesamte Element bedecken */
    background-size: cover;
}
