<div class="py-8 mx-auto sm:py-24 flex justify-center flex-col items-center">
    <div class="mb-8 lg:mb-16 max-w-4xl mx-auto text-center mt-8">
        <h2 class="text-4xl font-bold tracking-tight text-primary mr-8 lg:mr-0">
            {{services_header}}
        </h2>
        <div class="text-gray-600 text-base lg:text-xl font-medium">{{services_text}}</div>
    </div>
    <div
        class="m-auto space-y-8 text-left sm:py-0 md:grid sm:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0 w-full"
    >
        {{services_replicator}}
        <div>
            <div class="mt-10 sm:mt-0">
                <div
                    class="flex items-center justify-center w-10 h-10 mb-4 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                >
                    {{svg["code"]}}
                </div>
                <h3 class="mb-2 text-xl lg:text-2xl font-bold text-primary">{{header}}</h3>
                <div class="text-gray-500 text-base dark:text-gray-400 leading-8 min-h-[200px]">{{description}}</div>
            </div>
        </div>
        
        {{/services_replicator}}
    </div>
</div>
