{{if header_variante == 'variante_1'}}
<div class="w-full bg-white">{{partial:headers/leistungen/verkaufen-header}}</div>
{{/if}} {{if header_variante == 'variante_2'}}
<div class="w-full bg-white">
    {{partial:headers/leistungen/verkaufen-header-full-width}}
</div>
{{/if}}
{{if header_variante == 'variante_3'}}
<div class="w-full bg-white">
    {{partial:headers/leistungen/leistungen-header}}
</div>
{{/if}}


<div
    class="relative z-20 flex justify-between mb-0 bg-white rounded  px-4 lg:px-10 max-w-7xl xl:mx-auto pb-16 lg:pb-24"
>
    <div class="w-full bg-white max-w-7xl mx-auto">
        <div class="mx-auto">
            {{partial:eigentuemer/general/subheader}}

            {{if services_variante == "variante_1"}}
                {{partial:services/simple-services/content-services}}
            {{else}}
                {{partial:services/simple-services/content-services-colored}}
            {{/if}}

            {{if contact_variante == "variante_2"}}
                <section class="border-t border-b my-12 lg:my-24 py-6 lg:py-12 max-w-7xl">
                    {{partial:cta-sections/contact/cta-contact}}
                </section>
            {{/if}}
            {{if contact_variante == "variante_3"}}
                <section class="border-t border-b my-12 lg:my-24 py-6 lg:py-12 max-w-7xl">
                    {{partial:cta-sections/contact/cta-contact-topic}}
                </section>
            {{/if}}

        </div>
    </div>
    {{if contact_variante == "variante_1"}}
        {{partial:eigentuemer/verkaufen/contact-box-sidebar title="Verkauf"
        defaultMessage="Bitte nehmen Sie zum Thema Verkauf Kontakt zu mir auf."}}
    {{/if}}
</div>

<section class="bg-gray-100 w-full">
    <section class="px-4 lg:px-10 mx-auto  max-w-7xl">
        {{partial:services/services-three-per-column}}
    </section>
</section>


<section class="w-full px-4 lg:px-10 custom-gradient-darker">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-left md:text-center lg:py-16 lg:px-6">
        <div class="max-w-screen-sm mx-auto mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl font-bold tracking-tight text-white">
                Was unsere Kunden sagen
            </h2>
        </div>
        <div
            data-google-api-key="{{ $googleApiKey }}"
            x-data="reviewsSlider()"
            x-init="init()"
            data-google-places-id="{{ $googlePlaceId }}"
            class="hidden lg:block"
        >
            {{partial:reviews/google-reviews-full-width}}
        </div>

        <div
            data-google-api-key="{{ $googleApiKey }}"
            x-data="reviewsSlider()"
            x-init="init()"
            data-google-places-id="{{ $googlePlaceId }}"
            class="block lg:hidden"
        >
            {{partial:reviews/google-reviews-mobile}}
        </div>
    </div>
</section>

<section class="w-full bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 lg:px-10">
        {{partial:accordeon/general}}
    </div>

</section>

<section class="w-full max-w-7xl px-4 lg:px-10 mx-auto">
    {{partial:logo-cloud/simple-logo-cloud}}
</section>


{{if show_reference_estates}}
<section class="relative w-full 0 bg-gray-50 py-16">
    <div class="w-full py-8 mx-auto lg:py-16 max-w-7xl px-4 lg:px-10">
        <div class="text-center text-gray-900">
            <h2 class="mb-4 text-4xl font-bold tracking-tight text-primary lg:text-5xl ">Unsere aktuellsten Referenzen</h2>

            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                Erhalten Sie einen Einblick in unsere realisierten Projekte und unserer Arbeit als Immobilienberater.    
            </p>
        </div>
        <!-- Section Einleitung & Statistics -->
        
        {{ partial:pages/estate/estate-columns-3-ref }}
    </div>
    <div class="py-4 mt-12 text-center">
        <a href="/immobilien" class="fade-in-animation items-center px-6 py-3 mx-2 font-bold text-center text-white lg:px-5 focus:ring-4 focus:outline-none bg-primary-700 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 hover:bg-primary-800 focus:ring-primary-900" target="_blank">
            Alle aktuellen Immobilien ansehen<span aria-hidden="true">&nbsp;→</span>
        </a>
    </div>
</section>
{{/if}}

<section>
    <div class="py-8 bg-white sm:py-16">
        <div class="mx-auto max-w-7xl px-4 lg:px-10">
            <div>
                <div class="text-base text-gray-700">
                    <p class="text-base font-semibold leading-9 text-primary-200">
                        {{seo_headline_twp}}
                    </p>
                    <h2
                        class="mb-4 text-2xl lg:text-4xl font-bold tracking-tight text-primary "
                    >
                    {{seo_headline_two}}
                    </h2>
                    <div>
                        <p class="mt-6 text-gray-500 sm:text-xl dark:text-gray-400">
                            {{seo_text}}
                        </p>
                    </div>
                </div>
                <div class="flex mt-10">
                    <a
                        href="/team"
                        class="text-base font-semibold leading-7 text-primary-200"
                        >Erfahren Sie mehr über uns &nbsp;→
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{if contact_variante == "variante_4"}}
<div class="w-full bg-gray-100">
    <section class="py-8 xl:py-12 mx-auto max-w-7xl w-full px-4 lg:px-10">
        {{partial:cta-sections/contact/contact-team}}
    </section>
</div>
{{/if}}



