
<div class="flex items-center pt-10 bg-primary dark:bg-black lg:-mt-10 sm:pt-16 lg:py-48 lg:overflow-hidden">
    <div class="mx-auto max-w-7xl">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="mx-auto max-w-md px-6 sm:max-w-2xl sm:text-center lg:flex lg:items-center lg:px-0 lg:text-left">
            <div class="lg:py-24">
                <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl lg:mt-6 xl:text-6xl">
                    <span class="block mt-16 lg:mt-2">{{title}}</span>
                    <span class="block text-gray-400">{{subtitle}}</span>
                </h1>
                <div class="mt-10 sm:mt-12">
                    {{partial:subpartials-header/front-page-searchbox}}
                </div>
            </div>
        </div>
        <div class="-mb-16 mt-12 sm:-mb-48 lg:relative lg:m-0">
            <div class="mx-auto max-w-md px-6 sm:max-w-2xl lg:max-w-none lg:px-0">
            <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
            <img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:max-w-none" src="https://tailwindui.com/img/component-images/cloud-illustration-indigo-400.svg" alt="">
            </div>
        </div>
        </div>
    </div>
</div>

