

<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-3">
    {{statistics}}
    <li class="flex flex-col col-span-1 pt-4 mx-auto w-1/2 text-center bg-white rounded-lg divide-y divide-gray-200 shadow sm:w-full">
      <div class="flex flex-col flex-1 p-8">
        <svg class="flex-shrink-0 mx-auto w-12 h-12 text-primary-200" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
        </svg>
       <h3 class="mt-6 text-lg font-bold text-gray-900">{{number}}</h3>
        <dl class="flex flex-col flex-grow justify-between mt-1">
          <dt class="sr-only">Title</dt>
          <dd class="text-sm text-gray-500">{{description}}</dd>
        </dl>
      </div>

    </li>
    {{/statistics}}

    <!-- More people... -->
</ul>



