<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Team",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",
        "image": "{{ config:app:url }}{{ image }}",
        "datePublished": "{{ date format="Y-m-d\TH:i:s" }}",
        "author": {
            "@type": "Organization",
            "name": "{{ config:app:name }}",
            "url": "{{ config:app:url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ config:app:name }}"{{ if seo:organization_logo }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"
            }{{ /if }}
        }
    }
</script>
<section class="text-gray-600 body-font">
    <div class="container flex flex-col px-5 py-24 mx-auto">
        <div class="mx-auto lg:w-4/6">
            <div class="w-full h-auto overflow-hidden rounded-lg">
                <img
                    alt="{{ image_landscape.0.alt }}"
                    class="object-cover object-center w-full h-full"
                    src="{{ image_landscape.0.url }}"
                />
            </div>
            <div class="flex flex-col mt-10 sm:flex-row">
                <div class="text-center sm:w-1/3 sm:pr-8 sm:py-8">
                    <div
                        class="inline-flex items-center justify-center w-20 h-20 text-gray-400 bg-gray-200 rounded-full"
                    >
                        <img
                            alt="{{ image_portrait.0.alt }}"
                            class="object-cover object-top w-full h-full rounded-full"
                            src="{{ image_portrait.0.url }}"
                        />
                    </div>
                    <div
                        class="flex flex-col items-center justify-center text-left"
                    >
                        <h2
                            class="mt-4 text-lg font-medium text-gray-900 title-font"
                        >
                            {{if first_name}}{{ first_name }}{{/if}}{{if last_name}} {{ last_name }}{{/if}}
                        </h2>
                        <div
                            class="w-12 h-1 mt-2 mb-4 rounded bg-primary"
                        ></div>

                        {{social_profiles}} {{if social_profile_type ==
                        'linkedin'}}
                        <a
                            href="{{ social_profile_url }}"
                            target="_blank"
                            class="text-gray-400 hover:text-gray-500"
                        >
                            <span class="sr-only">LinkedIn</span>
                            <svg
                                class="w-5 h-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                        {{/if}} {{/social_profiles}} {{ partial:typography/prose
                        as="article" class="contents" }}
                        {{short_team_description }} {{ partial
                        src="components/{type}" }} {{ /short_team_description }}
                        {{ /partial:typography/prose }}

                        <div class="mt-6">
                            <a
                                href="mailto:{{email}}"
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm hover:bg-primary focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:outline-none bg-primary"
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                                    />
                                </svg>
                                <span class="ml-2">Kontaktieren</span></a
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="pt-4 mt-4 text-center border-t border-gray-200 sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l sm:border-t-0 sm:mt-0 sm:text-left"
                >
                    {{ partial:typography/prose as="article" class="contents" }}
                    {{long_team_description }} {{ partial
                    src="components/{type}" }} {{ /long_team_description }} {{
                    /partial:typography/prose }}
                </div>
            </div>
        </div>
    </div>
</section>
