<div class="max-w-7xl mx-auto mx-4 rounded-lg">
<div class="gap-8 items-center lg:grid lg:grid-cols-12 xl:gap-16 my-16 xl:my-24 bg-secondary rounded-lg">
    <div class="sm:text-lg px-8 lg:px-16 py-4 xl:py-8 lg:col-span-7 rounded-r-lg">
        <h2 class="mb-4 text-3xl text-white tracking-tight font-extrabold text-gray-900 dark:text-white">{{suchauftrag_cta:header}}</h2>
        <p class="mb-8 font-light text-gray-200 lg:text-xl">
            {{suchauftrag_cta:intro}}
        </p>
        <!-- List -->
        <ul role="list" class="pt-4 my-7 space-y-5 border-gray-200 dark:border-gray-700 pb-4">
            {{suchauftrag_cta:info}}
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                <span class="text-base font-medium leading-tight text-white">{{item}}</span>
            </li>
            {{/suchauftrag_cta:info}}
        </ul>
        <a href="/suchauftrag"
            class="flex w-2/3 items-center justify-center flex-shrink-0 px-4 py-3 mt-6 text-base font-medium text-secondary bg-white border border-white border-opacity-25 hover:bg-opacity-90 sm:mt-0 sm:ml-8 lg:ml-0"
        >
            Zum Suchauftrag
        </a>
    </div>
    <img
        class="hidden w-full lg:mb-0 lg:flex h-full lg:col-span-5 object-center object-cover lazy rounded-r-lg"
        data-src="{{suchauftrag_cta:suchautrag_img.0.url}}"
        alt="{{suchauftrag_cta:suchautrag_img.0.alt}}"
        loading="lazy"
        onload="this.parentElement.querySelector('.spinner').style.display = 'none';"
    >
</div>
</div>
