<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-4xl font-semibold leading-8 text-gray-900">{{logo_header}}</h2>
      <div class="mx-auto mt-20 grid lg:grid-cols-{{columns}} grid-cols-{{columns}} items-center gap-x-8 gap-y-10 ">
          {{logo_replikator}}
          <div>
            <a href="{{link}}" target="_blank">
                <img 
                    class="col-span-2 max-h-20 w-full object-contain lg:col-span-1 lazy" 
                    data-src="{{img.0.url}}"
                    alt="{{img.1.alt}}" 
                    loading="lazy"
                    width="158" 
                    height="48"
                >
            </a>
          </div>
          {{/logo_replikator}}
      </div>
  </div>
</div>
