<section>
    <div class="max-w-screen-xl px-4 mx-auto lg:px-6">
        <div class="flex flex-col md:flex-row text-gray-200 text-xl justify-center relative">
            <!-- Stars -->
            <div class="flex space-x-1 justify-center items-center">
                <!-- Volle Sterne -->
                <template x-for="i in Array.from({ length: fullStars })">
                    <svg class="flex-none w-5 h-5" viewBox="0 0 20 20" fill="#FDCC0D" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                    </svg>
                </template>
                <!-- Halber Stern -->
                <!-- <svg x-show="hasHalfStar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.54 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"/>
                </svg> -->
                <svg x-show="hasHalfStar" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fdcc0d" viewBox="0 0 256 256">
                    <path d="M239.18,97.26A16.38,16.38,0,0,0,224.92,86l-59-4.76L143.14,26.15a16.36,16.36,0,0,0-30.27,0L90.11,81.23,31.08,86a16.46,16.46,0,0,0-9.37,28.86l45,38.83L53,211.75a16.4,16.4,0,0,0,24.5,17.82L128,198.49l50.53,31.08A16.4,16.4,0,0,0,203,211.75l-13.76-58.07,45-38.83A16.43,16.43,0,0,0,239.18,97.26Zm-15.34,5.47-48.7,42a8,8,0,0,0-2.56,7.91l14.88,62.8a.37.37,0,0,1-.17.48c-.18.14-.23.11-.38,0l-54.72-33.65A8,8,0,0,0,128,181.1V32c.24,0,.27.08.35.26L153,91.86a8,8,0,0,0,6.75,4.92l63.91,5.16c.16,0,.25,0,.34.29S224,102.63,223.84,102.73Z">
                    </path>
                </svg>
            </div>

            <!-- Rest -->
            <span class="flex items-center justify-center">
                <span class="ml-2"> · ( </span>
                <span class="flex items-center justify-center" x-text="rating"></span> <span class="flex items-center justify-center"> /5) ·  </span>
            </span>
            <span class="flex items-center justify-center"><span class="mr-2 flex items-center justify-center" x-text="num_user_ratings"></span> Bewertungen </span>
        </div>
        <!-- Wrapper -->
        <div class="relative flex flex-col items-center space-y-4 lg:space-y-0 lg:space-x-4 lg:flex-row lg:justify-center py-4 lg:py-8"  x-data="reviewsSlider()" x-init="init()">
            <!-- Reviews Carousel -->
            <div class="flex flex-col items-center space-y-4 lg:flex-row lg:space-x-4 lg:overflow-hidden mx-12">
                <template x-for="(review, index) in reviews" :key="index">
                    <div
                        class="slide p-6 shadow-sm bg-gray-50 lg:w-1/3 min-h-[220px] max-w-[32rem]"
                        x-show="index >= activeSlide && index < activeSlide + displayPerSlide"
                        style="display: none;"
                    >
                        <div
                            x-text="truncateText(review.text, 150)"
                            class="font-medium text-gray-500 text-md"
                        ></div>
                        <div
                            class="flex items-center justify-center my-3 divide-x-2 divide-gray-500"
                        >
                            <div class="pr-3 font-medium text-gray-900">
                                <div
                                    class="flex stars"
                                    x-data="{ rating: review.rating }"
                                    x-init="rating = review.rating"
                                >
                                    <template x-for="i in 5">
                                        <svg
                                            class="flex-none w-5 h-5"
                                            viewBox="0 0 20 20"
                                            fill="#FDCC0D"
                                            x-show="i <= rating"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </template>
                                </div>
                            </div>
                            <div
                                class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400"
                            >
                                <div x-text="review.author_name"></div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- Buttons -->
            <button
                class="absolute left-0 lg:left-0 z-20 p-4 cursor-pointer text-white text-xl top-1/3 md:inset-y-0"
                @click="prevSlide()"
            >
                &#10094;
            </button>
            <button
                class="absolute right-0 lg:right-0 z-20 p-4 cursor-pointer text-white text-xl top-1/3 md:inset-y-0"
                @click="nextSlide()"
            >
                &#10095;
            </button>
        </div>

        <!-- Call to action -->
        <div
            class="flex items-center justify-center px-6 py-4 shadow-sm bg-gray-50 mx-auto mt-4 relative"
            style="width: calc(100% - 3rem); max-width: 32rem;"
        >
            <div>
                <h3 class="text-lg font-medium text-gray-500">
                    Sie möchten mehr erfahren oder Ihre Erfahrungen mit uns teilen?
                </h3>

                <div class="mt-4">
                    <a
                        x-bind:href="'https://www.google.com/maps/place/?q=place_id:ChIJg1p3isNQqEcRoUAB_fS4uog' + googlePlacesId"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-secondary transition duration-300 ease-in-out"
                    >
                        Schauen Sie sich unser Unternehmensprofil auf Google an<span aria-hidden="true"> →</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function reviewsSlider() {
    return {
        reviews: [],
        rating: 0,
        num_user_ratings: 0,
        googlePlacesId: "",
        apiKey: "",
        activeSlide: 0,
        displayPerSlide: 3, // Standardwert für größere Bildschirme
        fullStars: 0,
        hasHalfStar: false,

        async fetchGoogleReviews() {
            const url = `/google-reviews`;
            try {
              const response = await fetch(url);
              const data = await response.json();
              this.reviews = data.reviews;
              this.rating = data.average_rating;
              this.num_user_ratings = data.num_ratings;
            } catch (error) {
              console.error("Error fetching Google Reviews:", error);
            }
            this.calculateStars();
        },

        init() {
            this.googlePlacesId = this.$el.getAttribute("data-google-places-id");
            this.apiKey = this.$el.getAttribute("data-google-api-key");
            this.fetchGoogleReviews();
            this.adjustSlidesToShow();
            window.addEventListener('resize', this.adjustSlidesToShow); // EventListener für Änderungen der Bildschirmgröße
        },

        calculateStars() {
            this.fullStars = Math.floor(this.rating);
            this.hasHalfStar = this.rating % 1 !== 0;
        },

        adjustSlidesToShow() {
            // Anpassung der Anzahl der angezeigten Bewertungen basierend auf der Bildschirmgröße
            this.displayPerSlide = window.innerWidth < 768 ? 1 : 3;
        },

        nextSlide() {
            const maxIndex = Math.ceil(this.reviews.length / this.displayPerSlide) - 1;
            this.activeSlide = this.activeSlide >= maxIndex ? 0 : this.activeSlide + 1;
        },

        prevSlide() {
            const maxIndex = Math.ceil(this.reviews.length / this.displayPerSlide) - 1;
            this.activeSlide = this.activeSlide <= 0 ? maxIndex : this.activeSlide - 1;
        },

        truncateText(text, maxLength) {
            return text.length > maxLength ? text.slice(0, maxLength) + "..." : text;
        },
    };
}
</script>
