<div class="py-8 mx-auto sm:py-24 flex justify-center flex-col items-center">
    <img class="h-16 w-fit my-4" src="logo_images/badge-blue.png">
    <div class="mb-8 lg:mb-16 max-w-4xl mx-auto text-center">
        <h2 class="text-4xl font-bold tracking-tight text-primary mr-8 lg:mr-0">
            {{services_header_h2}}
        </h2>
        <div class="text-secondary text-xl lg:text-2xl font-medium">{{services_text}}</div>
    </div>
    <div
        class="m-auto space-y-8 text-left sm:py-0 md:grid sm:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
        {{services_replicator}}
        <div>
            <div class="mt-10 sm:mt-0">
                <div
                    class="flex items-center justify-center w-10 h-10 mb-4 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                >
                    {{svg}}
                </div>
                <h3 class="mb-2 text-xl lg:text-2xl font-bold text-primary">{{header}}</h3>
                <div class="text-gray-500 text-base dark:text-gray-400 leading-8 min-h-[200px]">{{text}}</div>
            </div>
            <div class="flex items-center justify-center md:justify-start gap-4 py-4">
                <a href="{{link}}" title="" class="text-white bg-primary justify-center hover:bg-primary-700 inline-flex items-center focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium  text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" role="button">
                    Mehr erfahren
                </a>
            </div>
        </div>
        
        {{/services_replicator}}
    </div>
</div>
