<!-- Image gallery -->
<div class="flex flex-col-reverse">
    <!-- Image selector -->
    <div class="hidden w-full max-w-2xl mx-auto mt-6 sm:block lg:max-w-none">
        <div
            class="grid grid-cols-4 gap-6"
            aria-orientation="horizontal"
            role="tablist"
        >
            {{images}}{{if image.0.url}}
            <button
                @click="openImgSlideShow = !openImgSlideShow"
                id="tabs-2-tab-1"
                class="relative flex items-center justify-center h-24 text-sm font-medium text-gray-900 uppercase bg-white rounded-md cursor-pointer hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                aria-controls="tabs-2-panel-1"
                role="tab"
                type="button"
            >
                <span class="sr-only">Angled view</span>
                <span class="absolute inset-0 overflow-hidden rounded-md">
                    <img
                        src="{{ image.0.url }}"
                        alt="{{ image.0.alt }}"
                        class="object-cover object-center w-full h-full"
                    />
                </span>
                <!-- Selected: "ring-indigo-500", Not Selected: "ring-transparent" -->
                <span
                    class="absolute inset-0 rounded-md pointer-events-none ring-transparent ring-2 ring-offset-2"
                    aria-hidden="true"
                ></span>
            </button>
            {{/if}} {{/images}}
        </div>
    </div>

    <div class="w-full aspect-h-1 aspect-w-1">
        <!-- Tab panel, show/hide based on tab state. -->

        <div
            class="relative"
            id="tabs-2-panel-1"
            aria-labelledby="tabs-2-tab-1"
            role="tabpanel"
            tabindex="0"
        >
            <img
                src="{{ images.0.image.0.url }}"
                alt="{{ images.0.image.0.alt}}"
                class="object-cover object-center w-full h-full sm:rounded-lg"
            />
            <button
                @click="openImgSlideShow = !openImgSlideShow"
                data-open="Fotos"
                aria-label="Fotos"
                class="absolute right-4 bottom-4 hover:text-gray-900 text-white hover:bg-slate-50 cursor-pointer max-w-[150px] rounded-xl bg-transparent py-1 px-3 font-medium border-solid border-white border-2"
            >
                <svg
                    class="inline-flex w-4 hover:text-gray-900"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"
                    />
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h-.008v.008h.008V10.5z"
                    />
                </svg>
                <span class="text-sm hover:text-gray-900"> Alle Bilder </span>
            </button>
            <button
                @click="shareOpen = !shareOpen"
                data-open="Fotos"
                aria-label="Fotos"
                class="absolute right-36 bottom-4 hover:text-gray-900 text-white hover:bg-slate-50 cursor-pointer max-w-[150px] rounded-xl bg-transparent py-1 px-3 font-medium border-solid border-white border-2"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="inline-flex w-4 hover:text-gray-900"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z"
                    />
                </svg>
                <span class="text-sm hover:text-gray-900"> Teilen</span>
            </button>
        </div>
    </div>
</div>
